@import "tailwindcss";

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  color: var(--text);
  background: var(--bg);
  font-family: var(--sans);
}

body {
  margin: 0;
}